.cart {
}

.cart .order-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.cart .order-wrapper .product-list {
  max-width: 720px;
  width: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.cart .order-wrapper .product-list .product {
  display: flex;
  position: relative;
  gap: 30px;
}

.cart .order-wrapper .product-list .product .photo {
  max-width: 130px;
  width: 100%;
  height: 140px;
  background: #f1f2f3 url("../images/no-photo.webp") center/contain no-repeat;
}

.cart .order-wrapper .product-list .product .product-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cart .order-wrapper .product-list .product .product-info .title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}

.cart .order-wrapper .product-list .product .product-info .price-wrapper {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.cart
  .order-wrapper
  .product-list
  .product
  .product-info
  .price-wrapper
  .price-and-quantity {
  display: flex;
  align-items: center;
  gap: 48px;
}

.cart
  .order-wrapper
  .product-list
  .product
  .product-info
  .price-wrapper
  .price-and-quantity
  .quantity {
  width: 109px;
  height: 50px;
}

.cart
  .order-wrapper
  .product-list
  .product
  .product-info
  .price-wrapper
  .total-price {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000;
}

.cart .order-wrapper .order {
  max-width: 360px;
  width: 100%;
  padding: 40px;
  border: 1px solid rgba(68, 68, 68, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart .order-wrapper .order .title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  color: #000;
}

.cart .order-wrapper .order .order-price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart .order-wrapper .order .order-price-wrapper .price-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(68, 68, 68, 10%);
}

.cart .order-wrapper .order .order-price-wrapper .price-row.delimiter {
  border-bottom: 2px solid #000;
}

.cart .order-wrapper .order .order-price-wrapper .price-row.total {
  border-bottom: none;
}

.cart .order-wrapper .order .order-price-wrapper .price-row .name .additional {
  font-size: 14px;
  line-height: 1.7;
}

.cart .order-wrapper .order .order-price-wrapper .price-row .price {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
}

.cart .order-wrapper .order .button-wrapper {
  max-width: unset;
}
